html {
    font-family: 'Open Sans', sans-serif;
    color: #373A3C;
}

a {
    transition: .5s;
}

#sidebar {
    position: fixed;
    height: 100%;
    background-color: #006599;
    width: 300px;
    padding-top: 40px;
}

#sidebar h1 {
    text-align: center;
    color: #FFF;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 32px;
}

#sidebar a {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
}

#sidebar a:hover {
    color: #faf442;
}

#sidebar li {
    padding: 20px;
}

.sidebar_container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
}

.logo_doceria {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    height: 60px;
}

/*CONTEUDO*/

.content {
    position: absolute;
    left: 300px;
    width: calc(100% - 300px);
}

.content h1,
.content h2 {
    color: #006599;
    margin-bottom: 30px;
}

.content h1 {
    font-size: 48px;
}

.content h2 {
    font-size: 35px;
}

section {
    padding-left: 50px;
}

/* BEM VINDO */

#sessao_bemvindo {
    padding-left: 0;
}

.sessao_bemvindo_content {
    padding-left: 50px;
}

#sessao_bemvindo .banner {
    height: 500px;
    background-position: center;
    background-size: cover;
    background-image: url(../img/banner2.jpg);
}

#sessao_bemvindo h1 {
    margin-top: 70px;
}

#sessao_bemvindo::after,
#sessao_sobrenos::after {
    content: "";
    display: block;
    clear: both;
    margin-bottom: 100px;
}

.mini_banner {
    width: 300px;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-image: url(../img/banner3.jpg);
    float: left;
}

.sessao_descricao {
    position: absolute;
    padding-right: 30px;
    left: 370px;
}

.sessao_descricao p {
    margin-bottom: 30px;
    margin-left: 25px;
    font-size: 16px;
    line-height: 2;
}

.sessao_bemvindo_btn,
form input[type=submit] {
    background-color: #006599;
    color: #FFF;
    text-decoration: none;
    padding: 20px 40px;
    cursor: pointer;
    width: 100px;
    border: none;
    text-align: center;
    transition: .5s;
    display: block;
    margin-left: 25px;
}

.sessao_bemvindo_btn:hover,
form input[type=submit]:hover {
    background-color: #27906C;
}

/*SESSAO SOBRE*/

#sessao_sobrenos .mini_banner {
    float: right;
    margin-right: 50px;
    background-image: url('../img/banner4.jpg');
}

#sessao_sobrenos .sessao_descricao {
    position: absolute;
    left: 25px;
    width: calc(100% - 400px);
}

/* GALERIAS */

.banner_galeria {
    background-position: center;
    background-size: cover;
    display: inline-block;
    height: 200px;
}

#sessao_doces1,
#sessao_doces2,
#sessao_doces3 {
    margin-right: 50px;
    margin-bottom: 50px;
}

.doces_img1 {
    width: 18.8%;
    margin-left: .5%;
    margin-right: .5%;
}

#img1 {
    margin-left: 0;
    background-image: url('../img/galeria1.jpg');
}

#img2 {
    background-image: url('../img/galeria2.jpg');
}

#img3 {
    background-image: url('../img/galeria3.jpg');
}

#img4 {
    background-image: url('../img/galeria4.jpg');
}

#img5 {
    margin-right: 0;
    background-image: url('../img/galeria5.jpg');
}

.doces_img2 {
    width: 32.3%;
    margin-left: .5%;
    margin-right: .5%;
}

#img6 {
    margin-left: 0;
    background-image: url('../img/galeria6.jpg');
}

#img7 {
    background-image: url('../img/galeria7.jpg');
}

#img8 {
    background-image: url('../img/galeria8.jpg');
    margin-right: 0;
}

.doces_img3 {
    width: 23.9%;
    margin-left: .5%;
    margin-right: .5%;
}

#img9 {
    margin-left: 0;
    background-image: url('../img/galeria9.jpg');
}

#img10 {
    background-image: url('../img/galeria10.jpg');
}

#img11 {
    background-image: url('../img/galeria11.jpg');
    margin-right: 0;
}

#img12 {
    background-image: url('../img/galeria12.jpg');
    margin-right: 0;
}

/* CONTATO */

#form_contato {
    width: 500px;
}

#form_contato input[type=text],
#form_contato input[type=email],
#form_contato textarea {
    display: block;
    border: 1px solid #006599;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

#form_contato input[type=text]:focus,
#form_contato input[type=email]:focus,
#form_contato textarea:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    border-color: #2790C6;
}

#form_contato textarea {
    height: 150px;
}

#form_contato ::placeholder {
    color: #2790C6;
}

#form_contato input[type=submit] {
    margin-left: 0;
    width: 180px;
    font-size: 16px;
}

/* FOOTER */

footer {
    height: 100px;
    padding-top: 100px;
    color: #006599;
}

footer p {
    text-align: center;
    font-weight: bold;
}